.container {
    width: 100vw;
    height: 100vh;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    fill: #f6ef03;
    fill: #00aeef;
    fill: #fff;
    width: 40%;
}

rect {
    color: red;
}

.cls-1 {
    fill: #fd07d6;
    animation: line-ani 2s ease forwards, fill 0.5s ease forwards infinite;
}

@keyframes line-ani {
    from {
        fill: #fd07d6;
    }

    to {
        fill: #000;
    }
}